{% extends "base.html" %}

{% block title %}
    <title>Colorful Theme Website</title>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/r1_quest.css' %}">
{% endblock %}

{% block body %}
<body>
    <div class="wrapper" id="wrapper">
        <form action="/r2" method="post">
            {% csrf_token %}
            <h2 class="team-title">{{ team }}</h2>
            <h1 class="message typing-animation">{{ msg }}</h1>
            <input type="hidden" name="inpt" value="{{ inpt }}">
            <input type="hidden" name="type" value="{{ type }}">
            <input type="hidden" name="team" value="{{ team }}">
            <button name="msg" value="{{ inf }}" class="action-btn fancy-btn">{{ btn }}</button>
        </form>
    </div>
</body>
{% endblock %}
