{% extends "base.html" %}

{% block title %}
    <title>Terminal Theme Website</title>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/round1.css' %}">
{% endblock %}

{% block body %}
<body>
    <div class="title-container">
        <h1 id="title1" class="typing">Round 1</h1>
    </div>
    <div class="wrapper">
        <div class="container">
            {% for i in '0123456789'|make_list %}
                <form action="r1" method="post">
                    {% csrf_token %}
                    <button name="theme" value="type{{ forloop.counter }}">Theme {{ forloop.counter }}</button>
                </form>
            {% endfor %}
        </div>
    </div>
    <div class="lrbd">
        <form action="/lrbd">
            <button>Leader Board</button>
        </form>
    </div>
</body>
{% endblock %}
