body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    text-align: center;
    border: 3px solid #fff;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
}

.team-title {
    color: #f73928;
    margin-bottom: 20px;
    font-size: 2rem;
    animation: slideIn 1s ease-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.message {
    color: #fff;
    margin-bottom: 40px;
    font-size: 2.5rem;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.action-btn {
    background-color: #6a0572;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(106, 5, 114, 0.4);
    position: relative;
    overflow: hidden;
}

.fancy-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 300%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.4), transparent);
    transition: all 0.5s ease-in-out;
}

.fancy-btn:hover::before,
.fancy-btn:focus::before {
    left: 125%;
}

.fancy-btn:hover,
.fancy-btn:focus {
    background-color: #d6336c;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(214, 51, 108, 0.4);
    outline: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
